/* Banner */
.banner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px 100px;
    background-color: #F0F0F0;
}

.banner-col-img {
    flex: 1;
    text-align: center;
    opacity: 0.5;
}

.banner-col-txt {
    flex: 1;
    font-weight: 400;
}

.banner-btn {
    background-color: #ffae42;
    border: 2px solid #ffae42;
    padding: 10px 30px;
}

/* Info */
.info-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 30px 70px;
}

.info-column {
    flex: 1;
    text-align: center;
    padding: 10px;
}

/* Button */
.btn-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 30px 70px;
}

.btn-column {
    flex: 1;
    text-align: center;
    padding: 10px;
}   

.buy-btn {
    border: 2px solid #ffae42;
    background-color: white;
    padding: 10px 30px;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #E8E8E8;
    color: black;
    padding: 10px 70px;
}

.brand-title {
    display: flex;
    font-size: 1.5rem;
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: black;
    padding: 1rem;
}

.navbar-links li:hover {
    color: #ffae42;
}

/* Hamburger Menu */
.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: black;
    border-radius: 10px;
}

/* Media Query */
@media (max-width: 768px) {
    .info-row, .btn-row {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        padding: 30px 70px;
    }   

    .banner {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 20px 100px;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        width: 100%;
        display: none;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links ul {
        flex-direction: column;
        width: 100%;
    }

    .navbar-links li {
        text-align: center;
    }

    .navbar-links.active {
        display: flex;
    }

    .banner-col-img {
        order: 1;
    }
    
    .banner-col-txt {
        order: 2;
        text-align: center;
    }
  }