/* Current CSS Style is Desktop First */
/* TODO: refactor css code to mobile first */
/* mobile first css => writing our css for mobile devices first
and then use media queries for larger screen sizes */
/* max-width => All styles applied in that media query will run as long as 'screen' is below the max width */
/* CSS Resets */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

/* Mobile First CSS */
/* styles here will be appled for screen sizes until 768px */
/* Header */
header {
  background-color: #e8e8e8;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 1;
}

/* Navbar Menu */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: #e8e8e8;
}

#nav-menu {
  display: none;
  width: 100%;
  flex-direction: column;
  /* display: flex;
  align-items: center; */
}

#nav-menu.active {
  display: flex;
  height: 100vh;
}

#nav-menu > li {
  /* display: none; */
  padding: 70px;
  text-align: center;
  cursor: pointer;
  margin-left: 2rem;
}

/* Hamburger Menu */
.hamburger {
  display: block;
  padding: 10px;
}

.bar {
  display: block;
  width: 25px;
  height: 4px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

/* .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e8e8e8;
  padding: 10px 100px;
  overflow: hidden;
} */

/* .nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
} */

/* .nav-link {
  padding: 10px;
  cursor: pointer;
} */

/* .nav-link:hover {
  color: #ffae42;
} */

/* Navbar Logo */
.brand-title {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}

.brand-title p {
  font-size: 20px;
}

.brand-title img {
  height: 60px;
  padding: 10px;
}

/* Banner */
.banner {
  position: relative;
  top: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 10px;
  background-color: #f6f6f6;
}

.banner img {
  height: 150px;
  /* max-width: 100%;
  max-height: 100%; */
}

.banner-col-img {
  text-align: center;
  order: 1;
}

.banner-col-txt {
  text-align: center;
  padding: 20px;
  order: 2;
}

.banner-col-txt-details {
  padding: 20px 0px;
}

.banner-btn {
  background-color: #ffae42;
  border: 2px solid #ffae42;
  padding: 10px 30px;
}

/* Info */
/* flex-wrap here changed everything lol */
.info-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 0px;
}

/* child element */
.info-column {
  flex: 1;
  text-align: center;
  padding: 20px;
}

.column-content {
  padding: 10px;
}

/* Buy Button */
.btn-row {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  padding: 30px 70px;
}

.buy-btn {
  border: 2px solid #ffae42;
  background-color: white;
  padding: 10px 30px;
}

/* Media Query */
/* min-width => all styles applied will run as long as the the "screen" is above the min width */
/* applies to screens 768px and above */
@media (min-width: 768px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e8e8e8;
    /* padding: 10px 100px; */
  }
  #nav-menu {
    display: flex;
    flex-direction: row;
    width: auto;
  }

  /* .navbar .brand-title > p {
    color: red;
  } */

  #nav-menu > li {
    display: block;
    padding: 10px;
    cursor: pointer;
  }

  #nav-menu > li:hover {
    color: #ffae42;
  }

  .hamburger {
    display: none;
  }

  .banner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* padding: 30px 100px; */
  }

  .banner-col-txt {
    text-align: left;
  }

  .banner-col-img {
    order: 2;
  }

  .info-row,
  .btn-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 30px 70px;
  }

  /* .banner {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 20px;
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 60px;
    flex-direction: column;
    background-color: #e8e8e8;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 2.5rem 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .banner-col-txt {
    flex: 1;
    padding: 0px;
  }

  .navbar-links {
    width: 100%;
    display: none;
  }

  .navbar {
    padding: 0px;
    width: 100%;
  }

  .navbar-links ul {
    flex-direction: column;
    width: 100%;
  }

  .navbar-links li {
    text-align: center;
  }

  .navbar-links.active {
    display: flex;
  }

  .banner-col-img {
    order: 1;
  }

  .banner-col-txt {
    order: 2;
    text-align: center;
  } */
}
