/* Banner */
.banner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px 100px;
    background-color: #F0F0F0;
}

.banner-col-img {
    flex: 1;
    text-align: center;
    opacity: 0.5;
}

.banner-col-txt {
    flex: 1;
}

.banner-btn {
    background-color: #ffae42;
    border: 2px solid #ffae42;
    padding: 10px 30px;
}